p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
    }

h1 {
    font-family: "Trebuchet MS", Helvetica, sansserif;
    font-size: 2em;
    }

p.important {
    font-size: 1.4em;
    }

.portal {
    font-size: .8em;
}